.center-aligned-header .ag-header-cell-label {
    justify-content: center;
}

.ag-header-cell-filtered {
    background-color: #8fc2d1 !important;
    color: #fff !important;
}

/* HAVE to add custom class for base theme due to order of how dash loads styling */
/* custom class prevents dash from re-loading default theme stylings when loading grid */
.ag-theme-alpine.playerstats-grid {
    --ag-header-column-separator-display: block;
    --ag-header-column-separator-width: 1px;
    --ag-header-column-separator-color: rgb(160, 160, 160);
    --ag-header-cell-hover-background-color: #b7d0d8;
}
